/* App.css */

.black-nav {
  position: relative;
  display: flex;
  justify-content: space-between; /* 요소들을 네브 바의 양쪽 끝에 배치합니다. */
  align-items: center; /* 요소들을 세로로 가운데 정렬합니다. */
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
  padding-right: 20px; /* 네브 바 양쪽 끝에 일정한 간격을 유지합니다. */
}

#btn {
  background-color: #4CAF50; /* 초록색 */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}




.dle{
  background-color: black;
}

#input {
  width: 200px;
  padding: 10px;
  margin-right: 10px; /* 버튼과의 간격을 설정합니다. */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
